@page
@model RazorPagesBasketball.Pages.Players.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Players</h1>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Active Team</th>
        </tr>
    </thead>
    <tbody>
        @{int a = 0; }
        @foreach (var player in Model.Players)
        {
            <tr>
                <th scope="row">@a</th>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
                <td>@player.ActiveTeam</td>
            </tr>
            a++;
        }
    </tbody>
</table>