@page
@model BasketbalAPP.Pages.CRUDteam.ReadModel
@using Logic
@{
}

<h1>Details Page</h1>

<table class="table">
    <tr>
    </tr>
    <tr>
        <td>First Name : @Html.DisplayFor(model => model.DisplayPlayerinTeam.FirstName)</td>
    </tr>
    <tr>
        <td>First Name : @Html.DisplayFor(model => model.Team.Name)</td>
    </tr>
    <tr>
        <td>First Name : @Html.DisplayFor(model => model.DisplayPlayerinTeam.FirstName)</td>
    </tr>
    <tr>
        <td>Last Name : @Html.DisplayFor(model => model.DisplayPlayerinTeam.LastName)</td>
    </tr>
</table>