@page
@model RazorPagesBasketball.Pages.Forms.AddAddressModel
@{
    ViewData["Title"] = "AddAddress";
}

<h1>Add Address</h1>
<form method="post">
    <input type="text" asp-for="Address.City" placeholder="City" />
    <input type="text" asp-for="Address.StreetAddress" placeholder="StreetAddress" />
    <input type="text" asp-for="Address.zipCode" placeholder="zipCode" />
    <input type="text" asp-for="Address.State" placeholder="State" />
    <button type="submit">Submit</button>
</form>
