@page
@model BasketbalAPP.Pages.DatabaseConnectionErrorModel
@{
    ViewData["Title"] = "Can't connect to db";
}


<h1>Can't connect to db</h1>
<a asp-page="/Index" class="btn btn-primary">Go back</a>
