@page "{id:int}"
@model BasketbalAPP.Pages.CRUD.DeleteModel
@using Logic
@{
}


<h1>Delete Player</h1>
<hr />


<h4>Are You Sure You Want To Delete Player <b>@Html.DisplayFor(model => model.DisplayPlayer.FirstName)</b></h4>
<form method="post">
    <input type="submit" value="Delete" />
    <a asp-page="/Players">Back to List</a>
</form>