@page
@model BasketbalAPP.Pages.TeamModel
@{
    ViewData["Title"] = "Team page";
}
<h1>@Model.PlayerName</h1>

<form method="post">
    <input type="text" name="PlayerName">
    <input type="submit">
</form>






<div class="card-deck">
    <div class="card">
        <h4>Point Guard</h4>
        <div class="card-body">
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Add</a>
        </div>
    </div>

    <div class="card">
        <h4>Shooting Guard</h4>
        <div class="card-body">
            <p class="card-text"></p>
            <a href="#" class="btn btn-secondary">Add</a>
        </div>
    </div>

    <div class="card">
        <h4>Small Forward</h4>
        <div class="card-body">
            <p class="card-text"></p>
            <a href="#" class="btn btn-success">Add</a>
        </div>
    </div>

    <div class="card">
        <h4>Power Forward</h4>
        <div class="card-body">
            <p class="card-text"></p>
            <a href="#" class="btn btn-danger">Add</a>
        </div>
    </div>


    <div class="card">
        <h4>Center</h4>
        <div class="card-body">
            <p class="card-text"></p>
            <a href="#" class="btn btn-warning">Add</a>
        </div>
    </div>

</div>





@*<div class="card-deck">

        <div class="card">
            <h1>Point Guard</h1>
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-warning">Add</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>*@
